* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    height: 110vh;
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus { 
    outline: none;
}

select:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}


/*상단바*/
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 10vh;
    z-index: 99;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.logo_img{
    width: 141px;
    height: 32px;
}
.name{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #395BB4;
}
.write{
    width: 110px;
    height: 37px;
    background: #395BB4;
    border-radius: 50px;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}

.nim{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    color: #395BB4;
}

/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
a {
    text-decoration: none;
    color: #333;
}
/* 글자크기를 16px 맑은 고딕 굵게하고 width넓이 700, 높이 50만큼 배경색은 #ccc, 글자색은 검정색, 라인높이50px
menu박스 가운데정렬, 글자가운데 정렬 */
#menu {
    text-align: center; 
}
#menu > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 14vh;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
#menu > ul > li {
    float:left;
    width:140px;
    position:relative;
    text-align: center;
    list-style: none;
}

#menu > ul > li > ul {
    width:140px;
    height: 90px;
    display:none;
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #a4a4a4;
    margin-top: 3px;

}
#menu > ul > li > ul > li{
    list-style: none;
}


#menu > ul > li:hover > ul {
    display:block;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.1);

}

.submenu{
    margin: 17px 0 10px 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.submenu > a{
    font-size: 14px;
    color:  #a4a4a4;
}

.submenu > a:hover{
    font-weight: bold;
    color:  #395BB4;
    transition-duration: 0.3s;  
}

.bell-img{
    width: 25px;
    margin-left: 1vh;
}

.mail > li{
    list-style: none;
}

.mail > li > img{
    width: 215px;
}

.nav-wrapper {
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#study {
    position: absolute;
    width: 10%;
    /* height: 38px; */
    left: 395px;
    top: 254px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;


    color: #737373;
}

#title {
    position: absolute;
    width: 50%;
    /* height: 75px; */
    left: 395px;
    top: 306px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 75px;
    color: #000000;
}

#dropdown p {
    position: absolute;
    width: 83px;
    height: 32px;
    left: 1541px;
    top: 332px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    /* identical to box height */


    color: #484848;
}

#dropdown button {
    /* background-image: url('down.png'); */
    background-image: url('down.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 25px 25px;
    background-color: #FFFFFF;

    position: absolute;
    width: 30px;
    height: 30px;

    left: 1629px;
    top: 330px;
}

#drop-content img {
    width: 227px;
    height: 155px;

    position: absolute;
    left: 1489px;
    top: 380px;

    z-index: 5;
}

#bamboo {
    position: absolute;
    width: 1300px;
    height: 768px;
    left: 372px;
    top: 413px;
    margin-top: 30px;
    

    z-index: 1;
}

#content {
    position: absolute;
    width: 1132px;
    height: 104px;
    left: 416px;
    top: 1184px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    
    margin-top: 60px;
    margin-left: -40px;

    color: #333333;
}

#applybutton {
    position: absolute;
    width: 130px;
    height: 60px;
    left: 1561px;
    top: 1399px;

    background: #3f60b4;
    border-radius: 14px;
    position: absolute;
    /* width: 59px;
    height: 42px;
    left: 1415px;
    top: 1269px; */

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    color: #FFFFFF;

}

footer {
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    top: 1460px;
}
