* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    height: 110vh;
    line-height: 1;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 15vh;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus { 
    outline: none;
}

select:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}


/*상단바*/
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 12vh;
    z-index: 99;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.logo{
    width: 141px;
    height: 32px;
}
.name{
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #395BB4;
}
.geul{
    width: 122px;
    height: 45px;
    background: #395BB4;
    border-radius: 50px;
    align-items: center;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}

.nim{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    color: #395BB4;
}


ul li{
    list-style: none;
}
/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
a {
    text-decoration: none;
    color:#333;
}
/* 글자크기를 16px 맑은 고딕 굵게하고 width넓이 700, 높이 50만큼 배경색은 #ccc, 글자색은 검정색, 라인높이50px
menu박스 가운데정렬, 글자가운데 정렬 */
#menu {
    text-align: center;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
#menu > ul > li {
    float:left;
    width:140px;
    position:relative;
    text-align: center;
}

#menu > ul > li > ul {
    width:140px;
    height: 100px;
    display:none;
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
}

#menu > ul > li:hover > ul {
    display:block;
}

.submenu{
    margin: 20px 0 10px 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.mail-image{
    width: 50px;
    margin-left: 3vh;
}

.nav-wrapper {
    width: 1680px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#study {
    position: absolute;
    width: 500px;
    height: 38px;
    left: 395px;
    top: 254px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;


    color: #737373;
}

#title {
    position: absolute;
    width: 831px;
    height: 75px;
    left: 395px;
    top: 306px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 75px;
    color: #000000;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    height: 110vh;
    line-height: 1;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 15vh;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus { 
    outline: none;
}

select:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}


/*상단바*/
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 12vh;
    z-index: 99;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.logo{
    width: 141px;
    height: 32px;
}
.name{
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #395BB4;
}
.geul{
    width: 122px;
    height: 45px;
    background: #395BB4;
    border-radius: 50px;
    align-items: center;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}

.nim{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    color: #395BB4;
}


ul li{
    list-style: none;
}
/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
a {
    text-decoration: none;
    color:#333;
}
/* 글자크기를 16px 맑은 고딕 굵게하고 width넓이 700, 높이 50만큼 배경색은 #ccc, 글자색은 검정색, 라인높이50px
menu박스 가운데정렬, 글자가운데 정렬 */
#menu {
    text-align: center;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
#menu > ul > li {
    float:left;
    width:140px;
    position:relative;
    text-align: center;
}

#menu > ul > li > ul {
    width:140px;
    height: 100px;
    display:none;
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
}

#menu > ul > li:hover > ul {
    display:block;
}

.submenu{
    margin: 20px 0 10px 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.mail-image{
    width: 50px;
    margin-left: 3vh;
}

.nav-wrapper {
    width: 1680px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#study {
    position: absolute;
    width: 10%;
    /* height: 38px; */
    left: 395px;
    top: 254px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;


    color: #737373;
}

#title {
    position: absolute;
    width: 50%;
    /* height: 75px; */
    left: 395px;
    top: 306px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 75px;
    color: #000000;
}

#dropdown p {
    position: absolute;
    width: 83px;
    height: 32px;
    left: 1541px;
    top: 362px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    /* identical to box height */


    color: #484848;
}

#dropdown button {
    /* background-image: url('down.png'); */
    background-image: url('down.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 25px 25px;
    background-color: #FFFFFF;

    position: absolute;
    width: 30px;
    height: 30px;

    left: 1629px;
    top: 360px;
}

#applybutton {
    position: absolute;
    width: 190px;
    height: 60px;
    /* left: 1539px;
    top: 1400px; */
    left: 1521px;
    top: 1399px;

    background: #C7CFE3;
    border-radius: 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    color: #FFFFFF;

}

#bamboo {
    position: absolute;
    width: 1300px;
    height: 768px;
    left: 372px;
    top: 413px;
}

#content {
    position: absolute;
    width: 1132px;
    height: 104px;
    left: 416px;
    top: 1154px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    
    margin-top: 60px;
    margin-left: -40px;

    color: #333333;
}

footer {
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    top: 1460px;
}

    